$bg-color-body: #f7f2f2;
$bg-color-menu: #65451f;
$color-negro: #000;
$font-Fira: 'Fira Sans', sans-serif;
$font-Oswald: 'Oswald', sans-serif;
$font-Slabo: "Slabo 27px", serif;
$font-EbGaramond: "EB Garamond", serif;
$font-Roboto: "Roboto Slab", serif;
$font-Lato: "Lato", sans-serif;
$font-Verdana: Verdana, Geneva, Tahoma, sans-serif;
$manito: pointer;
$transform-text: uppercase; 
$text-center: center;
$font-20: 20px;
